<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="./assets/logo.svg" type="image/x-icon">

    <!-- Linking CSS sheet -->
    <link rel="stylesheet" href="{{asset('css/styles.css')}}">

    {% block title %}
        <title>Default title</title>
        <meta name="description" content="Default description">
    {% endblock %}
</head>

<body>

    {% include 'partials/header.html.twig' %}

    <main>

        {% include 'partials/hero.html.twig' %}

        {% block body %}
        {% endblock %}

        {% include 'partials/demo.html.twig' %}

    </main>

    {% include 'partials/footer.html.twig' %}

    <script src="{{ asset('scripts/script.js') }}"></script>
</body>