<section class="container demo__wrapper">
    <h3 class="section__title">Ready to grow your business? </br>
        Start with application, become faster every second</h3>
    <a href="#" class="btn">Start chatting now</a>
</section>