    <header>
        <nav class="container nav">
            <a href="#" class="logo">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M11.4 2.35L6.24998 7.5C6.04998 7.7 6.04998 8.01 6.24998 8.21L7.97999 9.94C8.17999 10.14 8.48998 10.14 8.68998 9.94L13.84 4.79C14.04 4.59 14.04 4.28 13.84 4.08L12.11 2.35C11.91 2.16 11.6 2.16 11.4 2.35Z"
                        fill="#2B59FF" />
                    <path
                        d="M15.3 6.26L6.24998 15.31C6.04998 15.51 6.04998 15.82 6.24998 16.02L7.97999 17.75C8.17999 17.95 8.48998 17.95 8.68998 17.75L17.74 8.7C17.94 8.5 17.94 8.19 17.74 7.99L16.01 6.26C15.82 6.06 15.5 6.06 15.3 6.26Z"
                        fill="#2B59FF" />
                    <path
                        d="M19.21 10.16L10.16 19.21C9.96001 19.41 9.96001 19.72 10.16 19.92L11.89 21.65C12.09 21.85 12.4 21.85 12.6 21.65L21.65 12.6C21.85 12.4 21.85 12.09 21.65 11.89L19.92 10.16C19.72 9.96 19.4 9.96 19.21 10.16Z"
                        fill="#2B59FF" />
                    <path
                        d="M4.08997 13.84L2.35996 12.11C2.15996 11.91 2.15996 11.6 2.35996 11.4L4.08997 9.67C4.28997 9.47 4.59996 9.47 4.79996 9.67L6.52997 11.4C6.72997 11.6 6.72997 11.91 6.52997 12.11L4.79996 13.84C4.59996 14.04 4.27997 14.04 4.08997 13.84Z"
                        fill="#2B59FF" />
                </svg>
                <p>Chat Application</p>
            </a>
            <ul class="nav__list">
                <li class="nav__list--link"><a href="#">Demos</a></li>
                <li class="nav__list--link"><a href="#">About</a></li>
                <li class="nav__list--link"><a href="#">Blog</a></li>
                <li class="nav__list--link"><a href="#">Pages</a></li>
                <li class="nav__list--link"><a href="#">Contact</a></li>
            </ul>

            <div class="nav__desktop">
                <a href="#">Login</a>
                <a href="#" class="btn">Get started free</a>
            </div>

            <div class="nav__burger">
                <span class="burger--top"></span>
                <span class="burger--middle"></span>
                <span class="burger--bottom"></span>
            </div>            
            
            <div class="nav__mobile">
                <ul>
                    <li class=""><a href="#">Demos</a></li>
                    <li class=""><a href="#">About</a></li>
                    <li class=""><a href="#">Blog</a></li>
                    <li class=""><a href="#">Pages</a></li>
                    <li class=""><a href="#">Contact</a></li>
                </ul>
                <a href="#">Login</a>
                <a href="#" class="btn">Get started free</a>
            </div>

        </nav>
    </header>